.header{
  display: flex;
  justify-content: space-between;
}

.add {
  cursor: pointer;
}
.add:hover {
  text-decoration: underline;
}


.btn {
  float: right;
}

.error {
  color: red;
}


input, select {
  margin-bottom: 10px;
}

label {
  margin-bottom:1px;
}

label:after {
  content:"*";
  color:red;
}
