.header{
  display: flex;
  justify-content: space-between;
}

.add {
  cursor: pointer;
}
.add:hover {
  text-decoration: underline;
}

th {
  white-space: nowrap;
}

.btn {
  float: right;
}

.error {
  color: red;
}
