<div class="header">
    <h3 class="title">Add User</h3>
    <span class="add" (click)="back()"> <i-bs name="backspace-fill" class="backspace-fill" ></i-bs> Back</span>
  </div>

<form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="card">
        <div class="card-body">


            <label for="name">Name</label>
            <input formControlName="name" type="" class="form-control" id="" aria-describedby="name">


            <label for="username">Username</label>
            <input formControlName="username" type="" class="form-control" id="" aria-describedby="name">

            <label for="role">Role</label>
            <select formControlName="role" type="" class="form-control" id="" aria-describedby="name">
              <option value="VIEWER">VIEWER</option>
            </select>


            <label for="batch">Batch Number</label>
            <input formControlName="batchNumber" type="" class="form-control" id="" aria-describedby="name">

            <label for="branch">Branch</label>
            <input formControlName="branch" type="" class="form-control" id="" aria-describedby="name">

            <label for="region">Region</label>
            <input formControlName="region" type="" class="form-control" id="" aria-describedby="name">

            <label for="province">Province</label>
            <input formControlName="province" type="" class="form-control" id="" aria-describedby="name">

            <label for="expiration">Expiration</label>
            <input formControlName="expiration" type="date" class="form-control" id="" aria-describedby="name">


            <label for="password">Password</label>
            <input formControlName="password" type="" class="form-control" id="" aria-describedby="name">

            <label for="name">API Key</label>
            <input formControlName="apiKey" type="" class="form-control" id="" aria-describedby="name">
            <small id="emailHelp" class="form-text text-muted">api key is available from VDO Cipher, make sure this is correct </small>
        </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">

          <ng-container formArrayName="courses">
            <div *ngFor="let course of courses.controls; let i = index" class="form-group">
              <ng-container [formGroupName]="i">
                <label for="course">Course Name</label>
                <div *ngIf="i == (courses.controls.length - 1)" class="input-group mb-2">
                    <div *ngIf="(courses.controls.length > 1)" (click)="deleteCourse(i)" class="input-group-text"><i-bs name="dash-circle" class="plus-circle-fill" ></i-bs></div>
                    <div (click)="addCourse()" class="input-group-text"><i-bs name="plus-circle-fill" class="plus-circle-fill" ></i-bs></div>
                    <select formControlName="course" class="form-control" id="course" aria-describedby="courseName">
                          <option [value]="course.name" *ngFor="let course of listCourses">
                               {{course.name}}
                          </option>
                    </select>
                </div>
                <div *ngIf="i != (courses.controls.length - 1)" class="input-group mb-2">
                    <div (click)="deleteCourse(i)" class="input-group-text"><i-bs name="dash-circle" class="plus-circle-fill" ></i-bs></div>
                    <select formControlName="course" class="form-control" id="course" aria-describedby="courseName">
                        <option [value]="course.name" *ngFor="let course of listCourses">
                             {{course.name}}
                        </option>
                  </select>
                </div>
                <small class="form-text error" *ngIf="courses.controls[i].invalid && courses.controls[i].touched">Course field is required</small>
                <small id="emailHelp" class="form-text text-muted">Course should also be added in vdo cipher with the same name.</small>
              </ng-container>
            </div>
            </ng-container>
        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
  </div>

</form>
